body {
  background-image: url(media/xpbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 800px;
  max-height: 750px;
  background: rgba(255, 255, 255, 0.85);
  padding: 40px;
  margin: 20px auto;
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}
h1 {
  color: black;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 20px;
  text-shadow: 5px 2px 9px rgba(0, 0, 0, 0.2);
}

h2 {
  display: block;
  text-align: center;
  font-size: 20px;
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  border-radius: 25px;
  margin: 20px auto;
}

strong {
  display: block;
  text-align: center;
  font-size: 24px;
  color: black;
  padding: 5px;
  border-radius: 25px;
  margin: 10px auto;
}

.search-box {
  margin: 0 auto;
  text-align: center;
  font-size: 0px;
}

input[type="text"] {
  margin: 0 auto;
  background-color: #d6e6f2;
  color: black;
  font-size: 20px;
  border: 0px;
  border-radius: 60px 0px 0px 60px;
  border-color: #5f88b6;
  padding: 10px 24px;
  width: 300px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin: 0 auto;
  background-color: #a8c3d4;
  border: 0px;
  font-size: 20px;
  color: black;
  border-radius: 0px 60px 60px 0px;
  padding: 10px 24px;
  transition: all 150ms ease-in-out;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
input:hover[type="submit"] {
  background: white;
}
input:placeholder {
  opacity: 0.9;
  color: black;
}

button {
  display: block;
  margin: 10px auto;
  background: #769fcd;
  border: 0px;
  color: black;
  border-radius: 60px;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 4px 18px;
  transition: all 150ms ease-in-out;
  text-align: center;
  transition: all 150ms ease-in-out;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: scale(1.05);
}

.location-condition-container {
  background-color: #b9d7ea;
  border-radius: 25px;
  padding: 10px;
}

.city-searched {
  text-align: left;
  font-size: 30px;
  color: black;
  padding-left: 30px;
}
.temperature-box {
  text-align: left;
  font-size: 30px;
  color: black;
  padding-left: 30px;
}

.current-condition {
  text-align: center;
  font-size: 20px;
  color: black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  margin: 5px;
  margin-right: 20px;
  max-width: 200px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.temperature {
  font-size: 55px;
}
.units {
  position: relative;
  top: -30px;
  font-size: 20px;
}
.humidity {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 18px;
  color: black;
  padding: 10px;
  background-color: rgba(181, 205, 195, 0.8);
  border-radius: 25px;
  width: 200px;
}

.humidity-data {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  padding: 5px;
  color: black;
  background-color: rgb(162, 190, 179, 0.8);
  border-radius: 25px;
  width: 75px;
  height: 36px;
  text-align: center;
  position: relative;
  top: -41px;
  right: -56px;
}

.wind {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  color: black;
  padding: 10px;
  padding-right: 38px;
  background-color: #b9d7ea;
  border-radius: 25px;
  width: 200px;
}
.wind-data {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  padding: 5px;
  color: black;
  background-color: #a1c2d6b0;
  border-radius: 25px;
  width: 75px;
  height: 36px;
  text-align: center;
  position: relative;
  top: -41px;
  right: -56px;
}
.weather-box {
  text-align: center;
  font-size: 16px;
  color: black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  margin: 5px;
  max-width: 200px;
  max-height: 800px;
  position: relative;
  left: 7px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.weather-forecast {
  background-color: #769fcd;
  padding: 15px;
  border-radius: 25px;
  margin: 5px;
  max-width: 200px;
  max-height: 3000px;
}

.weather-forecast-temperatures-min {
  opacity: 0.5;
}

.last-updated {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.search-icon {
  color: white;
  position: relative;
  left: -155px;
}

.location-icon {
  color: white;
}

.rain-icon {
  color: white;
}

.therm-icon {
  color: white;
}
.wind-icon {
  color: white;
}

a {
  color: rgba(255, 255, 255, 0.9);
}

.gitlink {
  text-align: center;
}

.git-link {
  color: #769fcd;
  font-size: 14px;
}

.temperature-box .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.temperature-box .active.hover {
  text-decoration: none;
}
